html{height: 100%; width: 100%;}
*{font-family: "Lexend", sans-serif;}
body{background-color: #F5DD90;}
p{margin: 15px 3px 15px;}
img{display: block; width: 50%; margin-left: auto; margin-right: auto;}

nav{background-color: #d5594e; padding: 5px;}
nav img{display: inline; margin: 0px; width: 100px; height: auto;}
#navbar{display: inline-block; float: right; margin-top: 8px; margin-left: 5px; margin-right: 0px;}
#navbar a{color: #000000; text-align: center;}
#logo{display: inline-block;}
#lightmode{display: none;}
#darkmode:hover, #lightmode:hover{cursor: pointer; text-decoration: underline;}

#gallery{
  margin: 30px 5%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#gallery p{margin: 2px;}
main{margin: 30px 5%;}
main.container-fluid{padding: 0px 5%;}
main .row{margin: 0px;}
main .row .col-7{margin-bottom: 30px;}
main .row .col-7 p:first-child{margin-top: 3px;}

header{background-color: #F68E5F; font-size: 50px; text-align: center; padding: 7px;}

a[class="article"]{display: block;}
.article{width: 300px; margin: 40px 20px; background-color: #324376;}
.article:hover{text-decoration: none;}
.article img{width: 100%;}
.article p{padding: 5px; color: #FFFFFF; text-align: center;}
.placeholder-image{width: 100%; height: 200px; background-color: #F68E5F;}

#text{padding: 5px; background-color: #F68E5F;}
aside.col-4{margin-bottom: 30px; padding: 0px; height: 100%; background-color: #F68E5F;}
#interested{margin-bottom: 15px; padding: 5px; background-color:#d5594e;
  text-align: center; font-size: 18px; color: inherit;}
aside a{color: inherit;}
aside a:hover{color: inherit;}